<a href="https://colab.research.google.com/github/SohilaOsama/ChatBot/blob/main/Practical_Assignment_1_DataMining_SohilaOsama.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Descriptive Analysis with K-Means & K-Medoids**

import important libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder

1-Read the CSV file.

In [2]:
import pandas as pd
df=pd.read_csv('/content/employess_100_records_null_values.csv')
df.head()

,ID,Name,Gender,Age,Current Position,Previous Position,Salary (USD),Years of Experience,Address,Phone Number,Email,Car Model,Last Year Performance (%)
0,1001,John Doe,Male,32.0,Manager,Assistant Manager,75000,NaN,NaN,NaN,johndoe@email.com,Toyota Camry,85.0
1,1002,NaN,Female,28.0,NaN,Intern,NaN,5,NaN,NaN,janesmith@email.com,Honda Accord,80.0
2,1003,Michael Johnson,Male,35.0,Supervisor,Team Lead,80000,NaN,789 Oak St,555-456-7890,michaelj@email.com,Ford Fusion,70.0
3,1004,Emily Davis,Female,27.0,NaN,Intern,55000,NaN,NaN,NaN,NaN,Subaru Impreza,99.0
4,1005,Robert Brown,Male,NaN,Designer,Junior Designer,NaN,7,NaN,555-678-1234,robertb@email.com,Chevrolet Malibu,NaN

In [3]:
# we have 100 rows and 13 columns
df.shape

(100, 13)

2- check Nulls

In [4]:
df.isnull().sum()

ID                            0
Name                         24
Gender                       21
Age                          41
Current Position             33
Previous Position            20
Salary (USD)                 48
Years of Experience          50
Address                      50
Phone Number                 66
Email                        59
Car Model                    64
Last Year Performance (%)    19
dtype: int64

In [5]:
# Drop corrupted records with more than 8 NULL values
df.dropna(thresh=8, inplace=True)

In [6]:
df.isnull().sum()

ID                            0
Name                         10
Gender                       11
Age                          22
Current Position             17
Previous Position             8
Salary (USD)                 20
Years of Experience          25
Address                      20
Phone Number                 33
Email                        25
Car Model                    30
Last Year Performance (%)     9
dtype: int64

3-Use a smart algorithm/ technique (Mention its name) to fill the missing values.---> (**i will use KNN Imputer**)

In [7]:
df.drop('Name',axis=1,inplace=True)

In [9]:
df.drop('ID',axis=1,inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Gender                     50 non-null     object
 1   Age                        39 non-null     float64
 2   Current Position           44 non-null     object
 3   Previous Position          53 non-null     object
 4   Salary (USD)               41 non-null     object
 5   Years of Experience        36 non-null     object
 6   Address                    41 non-null     object
 7   Phone Number               28 non-null     object
 8   Email                      36 non-null     object
 9   Car Model                  31 non-null     object
 10  Last Year Performance (%)  52 non-null     float64
dtypes: float64(2), object(9)
memory usage: 5.7+ KB

In [13]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is named 'df'

# List of columns to impute
columns_to_impute = [
    'Gender', 'Current Position', 'Previous Position',
    'Address', 'Phone Number', 'Email', 'Car Model'
]

# Convert non-numeric columns to numeric using LabelEncoder
label_encoder = LabelEncoder()

for column in columns_to_impute:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column].astype(str))

# List of all columns for KNN imputation
all_columns_to_impute = df.columns

# Initialize KNNImputer
imputer = KNNImputer(n_neighbors=5)

# Perform KNN imputation on all columns
df[all_columns_to_impute] = imputer.fit_transform(df[all_columns_to_impute])

# Display the DataFrame after imputation
print(df)

    Gender   Age  Current Position  Previous Position  Salary (USD)  \
0      1.0  32.0               5.0                3.0       75000.0
1      0.0  28.0               9.0                4.0       65600.0
2      1.0  35.0               8.0                9.0       80000.0
3      0.0  27.0               9.0                4.0       55000.0
4      1.0  30.2               2.0                6.0       63800.0
..     ...   ...               ...                ...           ...
90     0.0  34.0               8.0                9.0       76000.0
91     1.0  30.0               7.0                2.0          11.0
94     0.0  29.8               9.0                6.0       62000.0
96     0.0  29.2               7.0                1.0           9.0
99     0.0  25.0               6.0                3.0       72000.0

    Years of Experience  Address  Phone Number  Email  Car Model  \
0                   6.2     26.0           8.0   16.0       13.0
1                   5.0     26.0           8.0   15.0        5.0
2                   5.0     21.0           3.0   22.0        4.0
3                   6.2     26.0           8.0   24.0       11.0
4                   7.0     26.0           5.0   26.0        2.0
..                  ...      ...           ...    ...        ...
90                  8.6      4.0           6.0   24.0       17.0
91                  5.6     26.0           8.0   24.0       17.0
94                 12.0     26.0           6.0   24.0       17.0
96                  8.2     12.0           8.0   24.0       17.0
99                  7.0      7.0           3.0   19.0       10.0

    Last Year Performance (%)
0                        85.0
1                        80.0
2                        70.0
3                        99.0
4                        82.4
..                        ...
90                       74.7
91                       73.3
94                       85.0
96                       83.0
99                       82.0

[61 rows x 11 columns]

In [14]:
df.isnull().sum()

Gender                       0
Age                          0
Current Position             0
Previous Position            0
Salary (USD)                 0
Years of Experience          0
Address                      0
Phone Number                 0
Email                        0
Car Model                    0
Last Year Performance (%)    0
dtype: int64

4-Project the analysis on the following 4 attributes only (Gender, Age, Salary, Years of Experience)

In [15]:
# Select the required attributes for analysis
df_2 = ['Gender', 'Age', 'Salary (USD)', 'Years of Experience']
analysis_data = df[df_2].copy()

In [18]:
# Save selected columns to a new CSV file
analysis_data.to_csv('data.csv', index=False)

In [20]:
df2=pd.read_csv('data.csv')
df2.head()

   Gender   Age  Salary (USD)  Years of Experience
0     1.0  32.0       75000.0                  6.2
1     0.0  28.0       65600.0                  5.0
2     1.0  35.0       80000.0                  5.0
3     0.0  27.0       55000.0                  6.2
4     1.0  30.2       63800.0                  7.0

In [22]:
df2.isnull().sum()

Gender                 0
Age                    0
Salary (USD)           0
Years of Experience    0
dtype: int64

In [23]:
df2['Gender']

0     1.0
1     0.0
2     1.0
3     0.0
4     1.0
     ...
56    0.0
57    1.0
58    0.0
59    0.0
60    0.0
Name: Gender, Length: 61, dtype: float64

5-Divide the data into 3 clusters using K-Means algorithm.

In [27]:
# Perform clustering with K-Means
k = 3  # Number of clusters
kmeans = KMeans(n_clusters=k, random_state=42)
clusters = kmeans.fit_predict(df2)

# Add the cluster labels to the original dataset
data_with_clusters = df2.copy()
data_with_clusters['Cluster'] = clusters

# Generate CSV files for each cluster
for cluster_id in range(k):
    cluster_data = data_with_clusters[data_with_clusters['Cluster'] == cluster_id]
    cluster_data.to_csv(f'cluster_{cluster_id}.csv', index=False)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

## Bonus

In [29]:
pip install scikit-learn-extra

Collecting scikit-learn-extra
  Downloading scikit_learn_extra-0.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 21.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn-extra) (1.23.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn-extra) (1.11.3)
Requirement already satisfied: scikit-learn>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn-extra) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.23.0->scikit-learn-extra) (3.2.0)
Installing collected packages: scikit-learn-extra
Successfully installed scikit-learn-extra-0.3.0

In [30]:
from sklearn_extra.cluster import KMedoids

# Step 5 (Bonus): Perform K-Medoids clustering
kmedoids = KMedoids(n_clusters=3, random_state=42)
kmedoids.fit(df2)

# Step 6: Assign cluster labels and export results
cluster_labels = kmedoids.labels_
df2['Cluster'] = cluster_labels

# Export each cluster as a separate CSV file
for cluster_id in range(3):
    cluster_data = df2[df2['Cluster'] == cluster_id]
    cluster_data.to_csv(f'cluster_KMedoids{cluster_id}.csv', index=False)